header {
    background-image: url("manavSadhnaHeader3.jpeg");
    padding: 15px;
    text-align: center;
    color: white;
    opacity: 0.7;
    font-family: 'Andada Pro', serif;
    font-size: 30px;
}
.fixed-header{
    width: 100%;
    position: fixed;
    top: 45px;
}
.fixed-navbar {
    width: 100%;
    position: fixed;        
    color: #fff;
    top: 0;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    display: block;
    color: #938C7D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "PT Sans Narrow";
}
li a:hover:not(.active) {
    background-color: #C1BAAC;
}
.active {
    background-color: #FFD081;
  }
body {
    background-color: #F7EDDC;
  }